.message_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.message_date {
    font-size: 14px;
    color: grey;
}

.message_letter {
    font-size: 16px;
}